doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Populus
    link(rel="shortcut icon", href="../img/logo.png", type="image/x-icon")
    link(rel="stylesheet", href="./styles.css")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap", rel="stylesheet")
    style.
      li, p {
        text-align: left;
      }

  body
    nav
      .nav-container
        a(href="/inicio")
          img(src="../img/logo-nav.png", alt="Logo")
        ul.nav-enlaces
          li
            a(href="/inicio") Gráfico
          li
            a(href="/quizz") Quizz

          li
            a(href="/about") Sobre Nosotros
          li
            a(href="/contacto") Contacto
        .logout
          a(href="/auth/logout") Log out

    .contenedor-term(style="width: 800px;text-align: center; margin: 0 auto;text-decoration:none;font-size: 1.2rem;")
      section.form-container
        form.form
          h1.form-titulo Contacto

          .form-group
            label.label(for="nombre") Nombre completo
            input#nombre.form-input(type="text", placeholder="Escribe nombre completo")

          .form-group
            label.label(for="telefono") Teléfono
            input#telefono.form-input(type="text", placeholder="Escribe teléfono")

          .form-group
            label.label(for="email") Correo electrónico
            input#email.form-input(type="email", placeholder="Escribe correo electrónico")

          .form-group
            label.label(for="mensaje") Mensaje
            textarea#mensaje.form-input(placeholder="Escribe mensaje")

          button#button.form-button(type="submit") Enviar


    footer.footer-container
      .footer-enlaces
        p Copyright &copy; Todos los derechos reservados a Populus 2024
        .footer-enlaces
          a(href="/inicio") Inicio
          a(href="/politica_cookies") Política de Cookies
          a(href="/terminos") Términos y Condiciones
          a(href="/contacto") Contacto
          a(href="/about") Sobre Nosotros
        .footer-info
            p Teléfono: +34 123 456 789
            p Email: 
              a(href="mailto:populus@worldwide.net") populus@worldwide.net
            p Dirección: Calle Ficticia 123, 08001 Barcelona, España