doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Términos y Condiciones
    link(rel="shortcut icon" href="../img/logo.png" type="image/x-icon")
    link(rel="stylesheet" href="./styles.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet")
  
  body
    style.
      p {
        font-size: 1.2rem;
        line-height: 1.6;
        margin-bottom: 1.5rem;
        text-align: left;
      }

    nav
      .nav-container
        img(src="../img/logo-nav.png" alt="Logo")
        ul.nav-enlaces
          li
            a(href="/graficas") Gráfico
          li
            a(href="/quizz") Quizz
          li 
            a(href="/blog") Blog
          li
            a(href="/sobrenosotros") Sobre Nosotros
          li
            a(href="/contacto") Contacto
        .logout
          a(href="/") Log out

    header(style="text-align: center;")
      h1 Términos y Condiciones
      br

    .contenedor-term(style="width: 1200px;text-align: center; margin: 0 auto;")
      main(style="text-align: center; width: 80%; margin: 0 auto;")
        section
          h2 Aceptación de los Términos
          br
          p
            | Al acceder y utilizar el sitio web de
            strong Populus
            |  (en adelante, "el Sitio"), aceptas cumplir con estos Términos y Condiciones. Si no estás de acuerdo con estos términos, por favor, no uses nuestro Sitio.

        section
          h2 Uso del Sitio
          p El Sitio está destinado a uso personal y no comercial. Nos reservamos el derecho de modificar, suspender o interrumpir el acceso al Sitio o a cualquiera de sus funciones sin previo aviso.
          p Al utilizar el Sitio, te comprometes a no usarlo de manera que cause daño, mal funcionamiento o interrupción del mismo.

        section
          h2 Propiedad Intelectual
          p Todo el contenido del Sitio, incluyendo pero no limitado a textos, imágenes, logotipos, gráficos, videos, software, y bases de datos, está protegido por derechos de autor y otras leyes de propiedad intelectual.
          p No puedes reproducir, distribuir, modificar, crear trabajos derivados ni de ninguna otra forma explotar los contenidos del Sitio sin nuestra autorización expresa y por escrito.

        section
          h2 Responsabilidad
          p Nos esforzamos por ofrecer información precisa y actualizada en el Sitio, pero no garantizamos la exactitud, fiabilidad ni integridad de la información proporcionada.
          p No nos hacemos responsables de cualquier daño directo o indirecto que pueda surgir del uso del Sitio o de los servicios proporcionados.

        section
          h2 Enlaces a Terceros
          p El Sitio puede contener enlaces a otros sitios web. No somos responsables del contenido, políticas de privacidad o prácticas de sitios web de terceros. Te recomendamos leer los términos y condiciones de cada sitio web que visites.

        section
          h2 Modificaciones de los Términos
          p Podemos modificar estos Términos y Condiciones en cualquier momento. Las modificaciones entrarán en vigor tan pronto como se publiquen en el Sitio. Te recomendamos revisar periódicamente estos términos para estar al tanto de cualquier cambio.

        section
          h2 Política de Privacidad
          p Tu privacidad es importante para nosotros. Para más detalles sobre cómo recopilamos y usamos tu información, por favor consulta nuestra
          a(href="/politica_privacidad") Política de Privacidad.

        section
          h2 Legislación Aplicable
          p Estos Términos y Condiciones se regirán por las leyes de España. Cualquier disputa relacionada con el uso del Sitio estará sujeta a la jurisdicción de los tribunales de Barcelona, España.

        section
          h2 Contacto
          p Si tienes preguntas sobre estos Términos y Condiciones, por favor contáctanos a través de
          a(href="mailto:populus@worldwide.net") populus@worldwide.net

    footer.footer-container
      .footer-enlaces
        p Copyright &copy; Todos los derechos reservados a Populus 2024
        .footer-enlaces
          a(href="/inicio") Inicio
          a(href="/cookies") Política de Cookies
          a(href="/terminos") Términos y Condiciones
          a(href="/contacto") Contacto
          a(href="/about") Sobre Nosotros
        .footer-info
          p Teléfono: +34 123 456 789
          p Email: 
            a(href="mailto:populus@worldwide.net") populus@worldwide.net
          p Dirección: Calle Ficticia 123, 08001 Barcelona, España
